name: Scheduled backup

on:
  schedule:
    - cron: '*/3 * * * *'

jobs:
  build:
    name: backup
    runs-on: ubuntu-latest
    steps:
      # hasuraのメタデータ
      - name: export hasura metadata
        uses: tibotiber/hasura-action@master
        with:
          args: metadata export
        env:
          HASURA_ENDPOINT: ${{ secrets.HASURA_ENDPOINT }}
      # herokuのバックアップデータ
      - name: dump heroku data
        run: |
          PGPASSWORD=${{ secrets.HEROKU_PGPASSWORD }} pg_dump \
          --host=ec2-52-5-176-53.compute-1.amazonaws.com \
          --port=5432 \
          --user=${{ secrets.HEROKU_USER }} \
          --format=custom \
          --no-privileges \
          --schema=public \
          --blobs \
          --dbname=db5nb3h1386f2p \
          --file ~/heroku_$(date '+%Y%m%d').dump
      - name: console
        run: ls
      # driveにあげる
      - name: upload data to Google Drive
        uses: satackey/action-google-drive@v1
        with:
          skicka-tokencache-json: ${{ secrets.SKICKA_TOKENCACHE_JSON }}
          upload-from: ./
          upload-to: /path/to/upload
